.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
}

.input {
  text-align: center;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
  transition-duration: 0.2s;
}

.input:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);;
}

.button {
  border-radius: 10px;
  padding: 10px;
  font-weight: 700;
  background-color: #fff;
  border-style: none;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

